.formwidth {
  max-width: 500px;
  margin: 0 auto;
}
body {
    background-color: whitesmoke;
}

.select-effect {
  background-color: blanchedalmond;
}

.hover-effect:hover {
  background-color: blanchedalmond;
}